<tr>
    <td>
        <label for="recentchangesmenu">History length:</label>
    </td>
    <td>
        <select id="recentchangesmenu" onchange="require('ep_etherpad-lite/static/js/pad_cookie').padcookie.setPref('recentChangesHistory', this.options[this.selectedIndex].value); /* themes.init(); */">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
        <option value="25">25</option>
        <option value="30">30</option>
        </option>
        </select>
    </td>
</tr>
